<template>

    <div>
        <div class="card border-0 rounded shadow">
            <div class="card-body">
                <h4>EDIT KATEGORI</h4>
                <hr>
                <form @submit.prevent="updateCategory">
                    <div class="mb-3">
                        <label class="form-label">NAMA KATEGORI</label>
                        <input type="text" class="form-control" v-model="category.namakategori" placeholder="Masukkan Nama Produk">
                        <div v-if="errors.namakategori" class="mt-2 alert alert-danger">
                            {{ errors.namakategori }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-md shadow-sm me-2">UPDATE</button>
                        <button type="reset" class="btn btn-warning btn-md shadow-sm">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'

    import { reactive } from 'vue'
    import { Inertia } from '@inertiajs/inertia'

    export default {

        //layout
        layout: LayoutApp,

        //props
        props: {
            category: Object,
            errors: Object
        },

        //define Composition Api
        setup(props) {

            //state posts
            const category = reactive({
                namakategori: props.category.namakategori
            })

            //function updatePost
            function updateCategory() {
                
                //define variable 
                let namakategori   = category.namakategori

                //send data
                Inertia.put(`/categories/${props.category.id}`, {
                    namakategori: namakategori
                })
             
            }

            return {
                category,
                updateCategory
            }

        }
    }
</script>