<template>
    <div class="mt-5">
        <!-- flash message -->
        <div v-if="$page.props.flash.message" class="alert alert-success" role="alert">
            {{ $page.props.flash.message }}
        </div>
        <!-- flash message -->
        <div class="mb-3">
            <Link href="/categories/create" class="btn btn-md btn-primary">TAMBAH DATA</Link>
        </div>
        <div class="card border-0 rounded shadow-sm">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col">NAMA</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="category in category" :key="category.id">
                            <td class="text-center">{{ category.id }}</td>
                            <td>{{ category.namakategori }}</td>
                            <td class="text-center">
                                <Link :href="`/categories/${category.id}/edit`" class="btn btn-sm btn-primary me-2">EDIT</Link>
                                <button @click.prevent="deleteCategory(`${category.id}`)" class="btn btn-sm btn-danger">DELETE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'
    
    //import Link dari inertia
    import { Link } from '@inertiajs/inertia-vue3';
    import { Inertia } from '@inertiajs/inertia'


    export default {

        //layout
        layout: LayoutApp,
        
        //register Link di component
        components: {
            Link
        },

        //props
        props: {
            category: Array // <- nama props yang dibuat di controller saat parsing data
        },

        //define Composition Api
        setup() {

        //method deletePost
        function deleteCategory(id) {  
            Inertia.delete(`/categories/${id}`)
        }
        return {
            deleteCategory
        }

}
    }
</script>

<style>

</style>