<template>

    <div>
        <div class="card border-0 rounded shadow">
            <div class="card-body">
                <h4>EDIT KATEGORI</h4>
                <hr>
                <form @submit.prevent="updateCity">
                    <div class="mb-3">
                        <label class="form-label">PROVINSI</label>
                        <select class='form-control' v-model='city.provinsi_id'>
                            <option v-for='prov in state' :value='prov.id'>{{ prov.namaprovinsi }}</option>
                        </select>
                        <div v-if="errors.provinsi_id" class="mt-2 alert alert-danger">
                            {{ errors.provinsi_id }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">NAMA KOTA</label>
                        <input type="text" class="form-control" v-model="city.namakota" placeholder="Masukkan Nama Kota">
                        <div v-if="errors.namakota" class="mt-2 alert alert-danger">
                            {{ errors.namakota }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-md shadow-sm me-2">UPDATE</button>
                        <button type="reset" class="btn btn-warning btn-md shadow-sm">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'

    import { reactive } from 'vue'
    import { Inertia } from '@inertiajs/inertia'

    export default {

        //layout
        layout: LayoutApp,

        //props
        props: {
            state: Object,
            city: Object,
            errors: Object
        },

        //define Composition Api
        setup(props) {

            //state posts
            const city = reactive({
                provinsi_id: props.city.provinsi_id,
                namakota: props.city.namakota
            })

            //function updatePost
            function updateCity() {
                
                //define variable 
                let provinsi_id   = city.provinsi_id
                let namakota   = city.namakota

                //send data
                Inertia.put(`/cities/${props.city.id}`, {
                    provinsi_id: provinsi_id,
                    namakota: namakota
                })
             
            }

            return {
                city,
                updateCity
            }

        }
    }
</script>