<template>
    <div class="mt-5">
        <!-- flash message -->
        <div v-if="$page.props.flash.message" class="alert alert-success" role="alert">
            {{ $page.props.flash.message }}
        </div>
        <!-- flash message -->
        <div class="mb-3">
            <Link href="/cities/create" class="btn btn-md btn-primary">TAMBAH KOTA</Link>
        </div>
        <div class="card border-0 rounded shadow-sm">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col">PROVINSI</th>
                            <th scope="col">NAMA KOTA</th>
                            <th scope="col">MENU</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="kota in city" :key="city.id">
                            <td class="text-center">#{{ kota.id }}</td>
                            <td class="text-center">{{ kota.city_state.namaprovinsi }}</td>
                            <td>{{ kota.namakota }}</td>
                            <td class="text-center">
                                <Link :href="`/cities/${kota.id}/edit`" class="btn btn-sm btn-primary me-2">EDIT</Link>
                                <button @click.prevent="deleteCity(`${kota.id}`)" class="btn btn-sm btn-danger">DELETE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'
    
    //import Link dari inertia
    import { Link } from '@inertiajs/inertia-vue3';
    import { Inertia } from '@inertiajs/inertia'


    export default {

        //layout
        layout: LayoutApp,
        
        //register Link di component
        components: {
            Link
        },

        //props
        props: {
            city: Array // <- nama props yang dibuat di controller saat parsing data
        },

        //define Composition Api
        setup() {

        //method deletePost
        function deleteCity(id) {  
            // Inertia.delete(`/products/${id}`)
            Inertia.delete(`/cities/${id}`)
        }
        return {
            deleteCity
        }

}
    }
</script>

<style>

</style>