<template>

    <div>
        <div class="card border-0 rounded shadow">
            <div class="card-body">
                <h4>TAMBAH PRODUK</h4>
                <hr>
                <form @submit.prevent="storeProduct">
                    <div class="mb-3">
                        <label class="form-label">NAMA PRODUK</label>
                        <input type="text" class="form-control" v-model="product.namaproduk" placeholder="Masukkan Nama Produk">
                        <div v-if="errors.namaproduk" class="mt-2 alert alert-danger">
                            {{ errors.namaproduk }}
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label">CONTENT</label>
                        <textarea class="form-control" rows="5" v-model="post.content" placeholder="Masukkan Content Post"></textarea>
                        <div v-if="errors.content" class="mt-2 alert alert-danger">
                            {{ errors.content }}
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-md shadow-sm me-2">SIMPAN</button>
                        <button type="reset" class="btn btn-warning btn-md shadow-sm">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'

    import { reactive } from 'vue'
    import { Inertia } from '@inertiajs/inertia'

    export default {

        //layout
        layout: LayoutApp,

        //props
        props: {
            errors: Object
        },

        //define Composition Api
        setup() {

            //state posts
            const product = reactive({
                namaproduk: '',
            })

            //function storePost
            function storeProduct() {
                
                //define variable 
                let namaproduk   = product.namaproduk

                //send data
                Inertia.post('/products/', {
                    namaproduk: namaproduk,
                })
             
            }

            return {
                product,
                storeProduct
            }

        }
    }
</script>